*{
    padding: 0;
    margin: 0;
}
.menu{
   top: 54px;
   font-size: 20px;
   width: 1520px;
   background: black; 
   text-align: center;
   position: relative;

}
.menu ul{
    display: inline-flex;
    list-style: none;
    color: white;
}
.menu ul li{
    width: 100px;
    margin: 10px;
    padding: 10px;
}
.menu ul li a{
    text-decoration: none;
    color: white;
}
.home{ 
    top: -60px;   
    display:inline-block;
    position: relative;
}
/* //////// */
.about_img{
    align-items: center;
    display: flex;
    justify-content: center;
    margin-top: 50px;
    gap: 10px;
}
.img{
    width: 500px;
    height: 300px;
}
.about_text{
    width: 600px;
    height: auto;
    margin-top: -40px;
}
.about_text p{
    padding-top: 10px;
}
.about_text h4{
    padding-top: 10px;
}
.but{
    width: 150px;
    padding: 10px;
    border-radius: 20px;
    margin-top: 20px;
    background: black;
    color:white;
}
